.env
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.idea/
.vscode/
*.log
.pytest_cache/
.coverage
htmlcov/

agent/__pycache__/linux_agent.cpython-310.pyc
tools/__pycache__/system_tools.cpython-310.pyc
